@charset "UTF-8";
body {
  background: #fff;
  color: #404342;
  font-family: helvetica,arial, sans-serif; }

h1, h2, h3, h4, h5 {
  font-family: "PT Serif", sans-serif; }

html, body {
  height: 100%; }

body > header {
  background-color: #131413;
  padding: 40px 60px;
  background-image: url(/themes/a/banner.png);
  background-size: cover;
  background-position: center center;
  border-bottom: 1px solid #999898; }

body > header * {
  color: white;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5); }

nav {
  padding: 20px 0 10px; }

nav a {
  display: inline-block;
  margin: 0 20px 10px 0;
  padding: 3px; }

footer {
  padding: 40px 60px; }

.content {
  text-align: left;
  width: 100%;
  padding: 40px 60px;
  clear: both; }
  .content:after {
    content: " ";
    display: block;
    clear: both; }

.categories h3 {
  font-family: "Noto Sans", sans-serif;
  margin-top: 0; }

.category {
  line-height: 1em;
  font-weight: bold;
  display: inline-block;
  margin: 0 3px 4px 0;
  text-transform: uppercase;
  border-radius: 3px;
  background-color: #234;
  color: #fff;
  padding: 3px;
  font-size: 10px; }

time {
  color: #585858;
  font-size: 11px;
  text-transform: uppercase; }
  time span {
    text-transform: none;
    color: #858585; }

.posts, article {
  float: left; }

aside, .pagination {
  margin-left: 600px;
  width: 200px; }

.recent-posts {
  margin-bottom: 10px;
  padding-bottom: 15px;
  text-align: left;
  border-bottom: 1px solid #e0e0e0; }
  .recent-posts .excerpt {
    color: #999;
    font-size: 12px;
    font-style: italic;
    max-height: 2.6em;
    overflow: hidden;
    line-height: 1.3em; }
  .recent-posts a:before {
    color: #d8d8d8;
    font-size: 9px;
    padding: 0 3px 0 0; }
  .recent-posts .next-post a:before {
    content: "▶ "; }
  .recent-posts .previous-post a:before {
    content: "◀ "; }
  .recent-posts .previous-post + .next-post {
    margin-top: 15px; }

.pagination {
  white-space: nowrap;
  clear: right;
  border: 1px solid #eee;
  padding: 8px 0;
  margin-bottom: 15px;
  border-radius: 3px;
  color: #999; }
  .pagination .next-page, .pagination .previous-page {
    width: 60px;
    display: inline-block;
    vertical-align: baseline;
    zoom: 1;
    *display: inline;
    *vertical-align: auto; }

aside {
  border: 1px solid #eee;
  padding: 15px;
  border-radius: 3px;
  font-family: Georgia, serif; }
  aside p {
    text-align: left;
    margin: 8px 0 0; }
  aside .avatar {
    display: none; }

.posts li {
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 20px;
  display: block; }

.posts a {
  display: block;
  padding: 0 0 14px; }

.posts a h2 {
  margin: 0 0 2px; }

.posts time {
  display: block; }

.avatar {
  width: 60%; }

article {
  font-size: 14px; }

article, ul.posts {
  max-width: 560px;
  width: 100%; }

article header h2 {
  margin: 0 0 8px 0;
  padding: 8px 0;
  border-bottom: 1px solid #e0e0e0; }

/* queries */
@media (max-width: 900px) {
  article, .posts {
    position: static; }

  aside, .pagination {
    width: 100%;
    max-width: 560px;
    margin-left: 0;
    text-align: left; }

  aside .avatar {
    width: 100px;
    float: left;
    margin: 0 15px 0 0; } }
