*, h1, h2, h3, h4, h5 {
  font-family: "Open Sans";
  font-weight: normal;
  margin-top: 0; }

body {
  background-image: -webkit-linear-gradient(-45deg, #aaccee, #aaddff, #bbccdd, #ccddee);
  background-image: -moz-linear-gradient(-45deg, #aaccee, #aaddff, #bbccdd, #ccddee);
  background-image: -ms-linear-gradient(-45deg, #aaccee, #aaddff, #bbccdd, #ccddee);
  background-image: -o-linear-gradient(-45deg, #aaccee, #aaddff, #bbccdd, #ccddee);
  background-image: linear-gradient(-45deg, #aaccee, #aaddff, #bbccdd, #ccddee);
  padding: 20px;
  font-size: 14px; }
  body > header, body .content, body footer {
    background: #fff;
    margin: 0 auto;
    width: 100%;
    padding: 30px;
    text-align: center; }
  body .content {
    margin: 1px auto; }
  body > header {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px; }
    body > header h1 {
      text-transform: uppercase;
      color: #484949; }
  body > footer {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px; }

nav {
  margin-top: 30px; }
  nav a {
    padding: 8px 13px;
    border-radius: 2px;
    margin-right: 10px;
    line-height: 1em;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 11px;
    white-space: nowrap; }
    nav a:last-child {
      margin-right: 0; }

.description {
  color: #999; }

time {
  color: #999;
  font-size: 11px; }

.posts li {
  margin-bottom: 10px; }
.posts h2 {
  margin: 0 0 6px 0; }

.posts, article, aside {
  width: 100%;
  max-width: 500px;
  margin: auto;
  text-align: left; }

.categories {
  position: relative; }
  .categories h3 {
    font-size: 14px;
    margin: 0 0 6px;
    text-transform: capitalize; }
  .categories h3:not(:first-of-type):before {
    content: "------";
    display: block;
    color: #d0d0d0;
    margin: 10px 0;
    font-weight: normal; }

article header {
  padding-bottom: 15px;
  margin-bottom: 15px; }
  article header h2 {
    margin-bottom: 5px; }
  article header .category {
    font-size: 11px; }

aside {
  border-top: 1px solid #ddd;
  padding-top: 30px;
  margin: 30px auto 0; }
  aside .avatar {
    width: 90px;
    float: left;
    margin: 0 15px 0 0; }
  aside p {
    margin: 0; }
