*, h1, h2, h3, h4, h5 { font-family: "Proxima Nova"; }
body {
  background: #dbe6ee;
  padding: 20px;
  font-size: 14px;
}

body > header, section.content, footer {
  background: #fff;
  margin: 0 auto;
  width: 100%;
  padding: 30px;
  text-align: center;
}

body > header {
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
}
body > footer {
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

nav a {
  background: #dbe6ee;
  padding: 8px 13px;
  border-radius: 2px;
  margin-right: 10px;
  line-height: 1em;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 11px;
  font-weight: bold;
  white-space: nowrap;  
  text-shadow: 0 0 3px white, 0 0 3px white, 0 0 3px white, 0 0 3px white,0 0 3px white;
}
nav a:last-child {
  margin-right: 0;
}

nav {
  margin-top: 30px;
}

section.content {
  margin: 1px auto;
}

.description { color: #999; }
time { color: #999; font-size: 11px; }

.posts a:after {
  content: "------";
  display: block;
  color: #d0d0d0;
}
.posts h2 {
  margin: 6px 0;
}

.posts, article, aside {
  width: 100%;
  max-width: 520px;
  margin: auto;
  text-align: left;
}

aside {
  background: #f9f9f9;
  padding: 30px;
  margin: 30px auto;
}

aside p { margin: 0; }

.avatar { display: none; }