---
layout: default
---
<article>
<header>
<h2>{{ page.title }}</h2>
<a class="category">{{ page.category }}</a>
<time><span>Published on </span>{{ page.date | date_to_string }}</time>
</header>
{{ content }}
</article>

<aside>
  <section class="recent-posts">
  {% if page.previous %}
    <div class="previous-post">
      <a href="{{ page.previous.url }}" title="{{ page.previous.title }}">
        {{ page.previous.title }}
        <div class="excerpt">{{ page.previous.excerpt|strip_html }}</div>
      </a>
    </div>
  {% endif %}
  {% if page.next %}
    <div class="next-post">
      <a href="{{page.next.url}}" title="{{ page.next.title }}">
        {{ page.next.title }}
        <div class="excerpt">{{ page.next.excerpt|strip_html }}</div>
      </a>
    </div>
  {% endif %}
  </section>
  <img src="{{ site.owner.avatar }}" alt="{{ site.owner.name }}" class="avatar" />
  <strong>{{ site.owner.name }}</strong>
  <p>{{ site.owner.bio }}</p>
</aside>