---
layout: default
---
<article>
<header>
<h2>{{ page.title }}</h2>
<a class="category">{{ page.category }}</a>
<time><span>Published on </span>{{ page.date | date_to_string }}</time>
</header>
{{ content }}
{% if page.disqus == "y" and site.disqus_shortname %}
  <div id="disqus_thread"></div>
  <script type="text/javascript">
      var disqus_shortname = "{{ site.disqus_shortname }}"; 
      (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
{% endif %}
</article>

<aside>
  <section class="recent-posts">
  {% if page.previous %}
    <div class="previous-post">
      <a href="{{ page.previous.url }}" title="{{ page.previous.title }}">
        {{ page.previous.title }}
        <div class="excerpt">{{ page.previous.excerpt|strip_html }}</div>
      </a>
    </div>
  {% endif %}
  {% if page.next %}
    <div class="next-post">
      <a href="{{page.next.url}}" title="{{ page.next.title }}">
        {{ page.next.title }}
        <div class="excerpt">{{ page.next.excerpt|strip_html }}</div>
      </a>
    </div>
  {% endif %}
  </section>
  <img src="{{ site.owner.avatar }}" alt="{{ site.owner.name }}" class="avatar" />
  <strong>{{ site.owner.name }}</strong>
  <p>{{ site.owner.bio }}</p>
</aside>